.card{
    border: 1px solid #f1f1f1;
    box-shadow: 0 2px 4px #cccccc;
    padding: 1em;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}
.lable{
    display: inline-block;
    width: 100px;
    color: crimson;
    padding: .5em;
}
.data{
    display: inline-block;
    font-weight: 900;
    width: 160px;
    background-color: #f1f1f1;
    padding: .5em;
}
.delete{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    cursor: pointer;
    transition: .2s;
}
.delete:hover{
    background-color: #f1f1f1;
}