.student-form{
    width: 500px;
    margin: 50px 0;
    border: 1px solid #f1f1f1;
    box-shadow: 0 2px 2px 1px #7c7c7c;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

.student-form label{
    display: inline-block;
    padding: .5em;
}
.student-form input{
    display: inline-block;
    padding: .5em;
    border: 1px solid darkgray;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;

}
.add-student{
    padding: .5em 1em;
    /* display: block;
    margin-left: auto; */
    cursor: pointer; 
}
.button-wapper{
    display: flex;
    justify-content: flex-end;
}